---
http_interactions:
- request:
    method: get
    uri: https://statsapi.mlb.com/api/v1/schedule?sportId=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "copyright" : "Copyright 2018 MLB Advanced Media, L.P.  Use of any content on this page acknowledges agreement to the terms posted here http://gdx.mlb.com/components/copyright.txt",
          "totalItems" : 2,
          "totalEvents" : 0,
          "totalGames" : 2,
          "totalGamesInProgress" : 0,
          "dates" : [ {
            "date" : "2018-10-17",
            "totalItems" : 2,
            "totalEvents" : 0,
            "totalGames" : 2,
            "totalGamesInProgress" : 0,
            "games" : [ {
              "gamePk" : 563404,
              "link" : "/api/v1/game/563404/feed/live",
              "gameType" : "L",
              "season" : "2018",
              "gameDate" : "2018-10-17T21:05:00Z",
              "status" : {
                "abstractGameState" : "Final",
                "codedGameState" : "F",
                "detailedState" : "Final",
                "statusCode" : "F",
                "abstractGameCode" : "F"
              },
              "teams" : {
                "away" : {
                  "leagueRecord" : {
                    "wins" : 2,
                    "losses" : 3,
                    "pct" : ".400"
                  },
                  "score" : 2,
                  "team" : {
                    "id" : 158,
                    "name" : "Milwaukee Brewers",
                    "link" : "/api/v1/teams/158"
                  },
                  "isWinner" : false,
                  "splitSquad" : false,
                  "seriesNumber" : 2
                },
                "home" : {
                  "leagueRecord" : {
                    "wins" : 3,
                    "losses" : 2,
                    "pct" : ".600"
                  },
                  "score" : 5,
                  "team" : {
                    "id" : 119,
                    "name" : "Los Angeles Dodgers",
                    "link" : "/api/v1/teams/119"
                  },
                  "isWinner" : true,
                  "splitSquad" : false,
                  "seriesNumber" : 2
                }
              },
              "venue" : {
                "id" : 22,
                "name" : "Dodger Stadium",
                "link" : "/api/v1/venues/22"
              },
              "content" : {
                "link" : "/api/v1/game/563404/content"
              },
              "isTie" : false,
              "doubleHeader" : "N",
              "gamedayType" : "P",
              "tiebreaker" : "N",
              "gameNumber" : 1,
              "calendarEventID" : "14-563404-2018-10-17",
              "seasonDisplay" : "2018",
              "dayNight" : "day",
              "description" : "NLCS Game 5",
              "scheduledInnings" : 9,
              "gamesInSeries" : 7,
              "seriesGameNumber" : 5,
              "seriesDescription" : "NL Championship Series",
              "recordSource" : "S",
              "ifNecessary" : "N",
              "ifNecessaryDescription" : "Normal Game"
            }, {
              "gamePk" : 563396,
              "link" : "/api/v1/game/563396/feed/live",
              "gameType" : "L",
              "season" : "2018",
              "gameDate" : "2018-10-18T00:39:00Z",
              "status" : {
                "abstractGameState" : "Final",
                "codedGameState" : "F",
                "detailedState" : "Final",
                "statusCode" : "F",
                "abstractGameCode" : "F"
              },
            [...]
- request:
    method: get
    uri: https://statsapi.mlb.com/api/v1.1/game/563404/feed/live
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "copyright" : "Copyright 2018 MLB Advanced Media, L.P.  Use of any content on this page acknowledges agreement to the terms posted here http://gdx.mlb.com/components/copyright.txt",
          "gamePk" : 563404,
          "link" : "/api/v1.1/game/563404/feed/live",
          "metaData" : {
            "wait" : 10,
            "timeStamp" : "20181018_004143",
            "gameEvents" : [ "game_finished" ],
            "logicalEvents" : [ "countChange", "count00" ]
          },
          "gameData" : {
            "game" : {
              "pk" : 563404,
              "type" : "L",
              "doubleHeader" : "N",
              "id" : "2018/10/17/milmlb-lanmlb-1",
              "gamedayType" : "P",
              "tiebreaker" : "N",
              "gameNumber" : 1,
              "calendarEventID" : "14-563404-2018-10-17",
              "season" : "2018",
              "seasonDisplay" : "2018"
            },
            "datetime" : {
              "dateTime" : "2018-10-17T21:05:00Z",
              "originalDate" : "2018-10-17",
              "dayNight" : "day",
              "time" : "2:05",
              "ampm" : "PM"
            },
            "status" : {
              "abstractGameState" : "Final",
              "codedGameState" : "F",
              "detailedState" : "Final",
              "statusCode" : "F",
              "abstractGameCode" : "F"
            },
            "teams" : {
              "away" : {
                "id" : 158,
                "name" : "Milwaukee Brewers",
                "link" : "/api/v1/teams/158",
                "venue" : {
                  "id" : 32,
                  "name" : "Miller Park",
                  "link" : "/api/v1/venues/32"
                },
                "teamCode" : "mil",
                "fileCode" : "mil",
                "abbreviation" : "MIL",
                "teamName" : "Brewers",
                "locationName" : "Milwaukee",
                "firstYearOfPlay" : "1969",
                "league" : {
                  "id" : 104,
                  "name" : "National League",
                  "link" : "/api/v1/league/104"
                },
                "division" : {
                  "id" : 205,
                  "name" : "National League Central",
                  "link" : "/api/v1/divisions/205"
                },
                "sport" : {
                  "id" : 1,
                  "link" : "/api/v1/sports/1",
                  "name" : "Major League Baseball"
                },
                "shortName" : "Milwaukee",
                "record" : {
                  "gamesPlayed" : 5,
                  "wildCardGamesBack" : "-",
                  "leagueGamesBack" : "-",
                  "springLeagueGamesBack" : "-",
                  "sportGamesBack" : "-",
                  "divisionGamesBack" : "-",
                  "conferenceGamesBack" : "-",
                  "leagueRecord" : {
                    "wins" : 2,
                    "losses" : 3,
                    "pct" : ".400"
                  },
                  "records" : { },
                  "divisionLeader" : false,
                  "wins" : 2,
                  "losses" : 3
                },
                "springLeague" : {
                  "id" : 114,
                  "name" : "Cactus League",
                  "link" : "/api/v1/league/114",
                  "abbreviation" : "CL"
                },
                "active" : true
              },
              "home" : {
                "id" : 119,
                "name" : "Los Angeles Dodgers",
                "link" : "/api/v1/teams/119",
                "venue" : {
                  "id" : 22,
                  "name" : "Dodger Stadium",
                  "link" : "/api/v1/venues/22"
                },
                "teamCode" : "lan",
                "fileCode" : "la",
                "abbreviation" : "LAD",
                "teamName" : "Dodgers",
           [...]
