---
http_interactions:
- request:
    method: get
    uri: https://statsapi.mlb.com/api/v1/schedule?sportId=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "copyright" : "Copyright 2018 MLB Advanced Media, L.P.  Use of any content on this page acknowledges agreement to the terms posted here http://gdx.mlb.com/components/copyright.txt",
          "totalItems" : 1,
          "totalEvents" : 0,
          "totalGames" : 1,
          "totalGamesInProgress" : 1,
          "dates" : [ {
            "date" : "2018-10-26",
            "totalItems" : 1,
            "totalEvents" : 0,
            "totalGames" : 1,
            "totalGamesInProgress" : 1,
            "games" : [ {
              "gamePk" : 563409,
              "link" : "/api/v1/game/563409/feed/live",
              "gameType" : "W",
              "season" : "2018",
              "gameDate" : "2018-10-27T00:09:00Z",
              "status" : {
                "abstractGameState" : "Live",
                "codedGameState" : "I",
                "detailedState" : "In Progress",
                "statusCode" : "I",
                "abstractGameCode" : "L"
              },
              "teams" : {
                "away" : {
                  "leagueRecord" : {
                    "wins" : 2,
                    "losses" : 0,
                    "pct" : "1.000"
                  },
                  "score" : 0,
                  "team" : {
                    "id" : 111,
                    "name" : "Boston Red Sox",
                    "link" : "/api/v1/teams/111"
                  },
                  "splitSquad" : false,
                  "seriesNumber" : 1
                },
                "home" : {
                  "leagueRecord" : {
                    "wins" : 0,
                    "losses" : 2,
                    "pct" : ".000"
                  },
                  "score" : 1,
                  "team" : {
                    "id" : 119,
                    "name" : "Los Angeles Dodgers",
                    "link" : "/api/v1/teams/119"
                  },
                  "splitSquad" : false,
                  "seriesNumber" : 1
                }
              },
              "venue" : {
                "id" : 22,
                "name" : "Dodger Stadium",
                "link" : "/api/v1/venues/22"
              },
              "content" : {
                "link" : "/api/v1/game/563409/content"
              },
              "doubleHeader" : "N",
              "gamedayType" : "P",
              "tiebreaker" : "N",
              "gameNumber" : 1,
              "calendarEventID" : "14-563409-2018-10-26",
              "seasonDisplay" : "2018",
              "dayNight" : "night",
              "description" : "World Series Game 3",
              "scheduledInnings" : 9,
              "gamesInSeries" : 7,
              "seriesGameNumber" : 3,
              "seriesDescription" : "World Series",
              "recordSource" : "S",
              "ifNecessary" : "N",
              "ifNecessaryDescription" : "Normal Game"
            } ],
            "events" : [ ]
          } ]
        }
  recorded_at: Sat, 27 Oct 2018 02:49:15 GMT
- request:
    method: get
    uri: https://statsapi.mlb.com/api/v1.1/game/563409/feed/live
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "copyright" : "Copyright 2018 MLB Advanced Media, L.P.  Use of any content on this page acknowledges agreement to the terms posted here http://gdx.mlb.com/components/copyright.txt",
          "gamePk" : 563409,
          "link" : "/api/v1.1/game/563409/feed/live",
          "metaData" : {
            "wait" : 10,
            "timeStamp" : "20181027_024900",
            "gameEvents" : [ "home_run", "run", "play_by_play" ],
            "logicalEvents" : [ ]
          },
          "gameData" : {
            "game" : {
              "pk" : 563409,
              "type" : "W",
              "doubleHeader" : "N",
              "id" : "2018/10/26/bosmlb-lanmlb-1",
              "gamedayType" : "P",
              "tiebreaker" : "N",
              "gameNumber" : 1,
              "calendarEventID" : "14-563409-2018-10-26",
              "season" : "2018",
              "seasonDisplay" : "2018"
            },
            "datetime" : {
              "dateTime" : "2018-10-27T00:09:00Z",
              "originalDate" : "2018-10-26",
              "dayNight" : "night",
              "time" : "5:09",
              "ampm" : "PM"
            },
            "status" : {
              "abstractGameState" : "Live",
              "codedGameState" : "I",
              "detailedState" : "In Progress",
              "statusCode" : "I",
              "reason" : "",
              "abstractGameCode" : "L"
            },
            "teams" : {
              "away" : {
                "id" : 111,
                "name" : "Boston Red Sox",
                "link" : "/api/v1/teams/111",
                "venue" : {
                  "id" : 3,
                  "name" : "Fenway Park",
                  "link" : "/api/v1/venues/3"
                },
                "teamCode" : "bos",
                "fileCode" : "bos",
                "abbreviation" : "BOS",
                "teamName" : "Red Sox",
                "locationName" : "Boston",
                "firstYearOfPlay" : "1901",
                "league" : {
                  "id" : 103,
                  "name" : "American League",
                  "link" : "/api/v1/league/103"
                },
                "division" : {
                  "id" : 201,
                  "name" : "American League East",
                  "link" : "/api/v1/divisions/201"
                },
                "sport" : {
                  "id" : 1,
                  "link" : "/api/v1/sports/1",
                  "name" : "Major League Baseball"
                },
                "shortName" : "Boston",
                "record" : {
                  "gamesPlayed" : 2,
                  "wildCardGamesBack" : "-",
                  "leagueGamesBack" : "-",
                  "springLeagueGamesBack" : "-",
                  "sportGamesBack" : "-",
                  "divisionGamesBack" : "-",
                  "conferenceGamesBack" : "-",
                  "leagueRecord" : {
                    "wins" : 2,
                    "losses" : 0,
                    "pct" : "1.000"
                  },
                  "records" : { },
                  "divisionLeader" : false,
                  "wins" : 2,
                  "losses" : 0
                },
                "springLeague" : {
                  "id" : 115,
                  "name" : "Grapefruit League",
                  "link" : "/api/v1/league/115",
                  "abbreviation" : "GL"
                },
                "active" : true
              },
              "home" : {
                "id" : 119,
                "name" : "Los Angeles Dodgers",
                "link" : "/api/v1/teams/119",
                "venue" : {
                  "id" : 22,
                  "name" : "Dodger Stadium",
                  "link" : "/api/v1/venues/22"
                },
                "teamCode" : "lan",
                "fileCode" : "la",
                "abbreviation" : "LAD",
                "teamName" : "Dodgers",
           [...]
