---
http_interactions:
- request:
    method: get
    uri: https://statsapi.mlb.com/api/v1/schedule?sportId=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "copyright" : "Copyright 2018 MLB Advanced Media, L.P.  Use of any content on this page acknowledges agreement to the terms posted here http://gdx.mlb.com/components/copyright.txt",
          "totalItems" : 1,
          "totalEvents" : 0,
          "totalGames" : 1,
          "totalGamesInProgress" : 1,
          "dates" : [ {
            "date" : "2018-10-18",
            "totalItems" : 1,
            "totalEvents" : 0,
            "totalGames" : 1,
            "totalGamesInProgress" : 1,
            "games" : [ {
              "gamePk" : 563397,
              "link" : "/api/v1/game/563397/feed/live",
              "gameType" : "L",
              "season" : "2018",
              "gameDate" : "2018-10-19T00:09:00Z",
              "status" : {
                "abstractGameState" : "Live",
                "codedGameState" : "I",
                "detailedState" : "In Progress",
                "statusCode" : "I",
                "abstractGameCode" : "L"
              },
              "teams" : {
                "away" : {
                  "leagueRecord" : {
                    "wins" : 3,
                    "losses" : 1,
                    "pct" : ".750"
                  },
                  "score" : 4,
                  "team" : {
                    "id" : 111,
                    "name" : "Boston Red Sox",
                    "link" : "/api/v1/teams/111"
                  },
                  "splitSquad" : false,
                  "seriesNumber" : 1
                },
                "home" : {
                  "leagueRecord" : {
                    "wins" : 1,
                    "losses" : 3,
                    "pct" : ".250"
                  },
                  "score" : 1,
                  "team" : {
                    "id" : 117,
                    "name" : "Houston Astros",
                    "link" : "/api/v1/teams/117"
                  },
                  "splitSquad" : false,
                  "seriesNumber" : 1
                }
              },
              "venue" : {
                "id" : 2392,
                "name" : "Minute Maid Park",
                "link" : "/api/v1/venues/2392"
              },
              "content" : {
                "link" : "/api/v1/game/563397/content"
              },
              "doubleHeader" : "N",
              "gamedayType" : "P",
              "tiebreaker" : "N",
              "gameNumber" : 1,
              "calendarEventID" : "14-563397-2018-10-18",
              "seasonDisplay" : "2018",
              "dayNight" : "night",
              "description" : "ALCS Game 5",
              "scheduledInnings" : 9,
              "gamesInSeries" : 7,
              "seriesGameNumber" : 5,
              "seriesDescription" : "AL Championship Series",
              "recordSource" : "S",
              "ifNecessary" : "N",
              "ifNecessaryDescription" : "Normal Game"
            } ],
            "events" : [ ]
          } ]
        }
  recorded_at: Fri, 19 Oct 2018 02:58:06 GMT
- request:
    method: get
    uri: https://statsapi.mlb.com/api/v1.1/game/563397/feed/live
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "copyright" : "Copyright 2018 MLB Advanced Media, L.P.  Use of any content on this page acknowledges agreement to the terms posted here http://gdx.mlb.com/components/copyright.txt",
          "gamePk" : 563397,
          "link" : "/api/v1.1/game/563397/feed/live",
          "metaData" : {
            "wait" : 10,
            "timeStamp" : "20181019_025746",
            "gameEvents" : [ "foul" ],
            "logicalEvents" : [ "countChange", "count32" ]
          },
          "gameData" : {
            "game" : {
              "pk" : 563397,
              "type" : "L",
              "doubleHeader" : "N",
              "id" : "2018/10/18/bosmlb-houmlb-1",
              "gamedayType" : "P",
              "tiebreaker" : "N",
              "gameNumber" : 1,
              "calendarEventID" : "14-563397-2018-10-18",
              "season" : "2018",
              "seasonDisplay" : "2018"
            },
            "datetime" : {
              "dateTime" : "2018-10-19T00:09:00Z",
              "originalDate" : "2018-10-18",
              "dayNight" : "night",
              "time" : "7:09",
              "ampm" : "PM"
            },
            "status" : {
              "abstractGameState" : "Live",
              "codedGameState" : "I",
              "detailedState" : "In Progress",
              "statusCode" : "I",
              "abstractGameCode" : "L"
            },
            "teams" : {
              "away" : {
                "id" : 111,
                "name" : "Boston Red Sox",
                "link" : "/api/v1/teams/111",
                "venue" : {
                  "id" : 3,
                  "name" : "Fenway Park",
                  "link" : "/api/v1/venues/3"
                },
                "teamCode" : "bos",
                "fileCode" : "bos",
                "abbreviation" : "BOS",
                "teamName" : "Red Sox",
                "locationName" : "Boston",
                "firstYearOfPlay" : "1901",
                "league" : {
                  "id" : 103,
                  "name" : "American League",
                  "link" : "/api/v1/league/103"
                },
                "division" : {
                  "id" : 201,
                  "name" : "American League East",
                  "link" : "/api/v1/divisions/201"
                },
                "sport" : {
                  "id" : 1,
                  "link" : "/api/v1/sports/1",
                  "name" : "Major League Baseball"
                },
                "shortName" : "Boston",
                "record" : {
                  "gamesPlayed" : 4,
                  "wildCardGamesBack" : "-",
                  "leagueGamesBack" : "-",
                  "springLeagueGamesBack" : "-",
                  "sportGamesBack" : "-",
                  "divisionGamesBack" : "-",
                  "conferenceGamesBack" : "-",
                  "leagueRecord" : {
                    "wins" : 3,
                    "losses" : 1,
                    "pct" : ".750"
                  },
                  "records" : { },
                  "divisionLeader" : false,
                  "wins" : 3,
                  "losses" : 1
                },
                "springLeague" : {
                  "id" : 115,
                  "name" : "Grapefruit League",
                  "link" : "/api/v1/league/115",
                  "abbreviation" : "GL"
                },
                "active" : true
              },
              "home" : {
                "id" : 117,
                "name" : "Houston Astros",
                "link" : "/api/v1/teams/117",
                "venue" : {
                  "id" : 2392,
                  "name" : "Minute Maid Park",
                  "link" : "/api/v1/venues/2392"
                },
                "teamCode" : "hou",
                "fileCode" : "hou",
                "abbreviation" : "HOU",
                "teamName" : "Astros",
          [...]
